server:
  port: 8080

#Application info
app:
  base:
    url: ${APP_BASE_URL:http://localhost:8080}

#cloudinary info
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:your-cloud-name}
  api-key: ${CLOUDINARY_API_KEY:your-api-key}
  api-secret: ${CLOUDINARY_API_SECRET:your-api-secret}

#Jwt Configuration
jwt:
  secret: ${JWT_SECRET:your-jwt-secret-key-min-256-bits}
  expiration: ${JWT_EXPIRATION:604800000}

spring:
  application:
    name: ai-resume-analyzer
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  #Email Configuration
  mail:
    host: ${SPRING_MAIL_HOST:smtp.example.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:your-email@example.com}
    password: ${SPRING_MAIL_PASSWORD:your-email-password}
    properties:
      mail:
        smtp:
          auth: true
          from: ${SPRING_MAIL_FROM:your-email@example.com}
        starttls:
          enable: true
          required: true
    protocol: smtp

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/ai-resume-analyzer}
  ai:
    openai:
      api-key: ${OPENAI_API_KEY:your-openai-api-key}

